@model CambiaUnaVida.Models.Dominio.Adopcion

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Registrar</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Adopción</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.Label("Código de la petición de adopción", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.idPeticionAdopcionFK, new { htmlAttributes = new { @class = "form-control", Value = ViewBag.idPeticion, @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.idPeticionAdopcionFK, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Elige un trabajador social", new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @*@Html.DropDownList("Name")*@
                @Html.DropDownList("trabajadorSocial", (SelectList)ViewBag.Trabajadores, "Seleccione un trabajador", new { @class = "form-control", required = "required" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Elige un veterinario", new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @*@Html.DropDownList("Name")*@
                @Html.DropDownList("veterinario", (SelectList)ViewBag.Veterinario, "Seleccione un veterinario", new { @class = "form-control", required = "required" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fecha, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fecha, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fecha, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.hora, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.hora, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.hora, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar", "IndexGatosDelResponsable", "Gato", new { id= ViewBag.IdResponsable} , null)
</div>
