@model CambiaUnaVida.Models.Dominio.VisitaTrabajadorSocial

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>VisitaTrabajadorSocial</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idTrabajadorSocialFK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idTrabajadorSocialFK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idAdoptanteFK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idAdoptanteFK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idGatoFK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idGatoFK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hora)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
