@model IEnumerable<CambiaUnaVida.Models.Dominio.VisitaTrabajadorSocial>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idTrabajadorSocialFK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idAdoptanteFK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idGatoFK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hora)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idTrabajadorSocialFK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idAdoptanteFK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idGatoFK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hora)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
