@model IEnumerable<CambiaUnaVida.ViewModels.Adopcion_TrabajadorSocialViewModel>

@{
    ViewBag.Title = "IndexGatosTrabajadorSocial";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Gatos asignados</h2>

<table class="table">
    <tr>        
        <th>
            @Html.DisplayNameFor(model => model.nombreGato)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombreAdoptante)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>        
        <td>
            @Html.DisplayFor(modelItem => item.nombreGato)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombreAdoptante)
        </td>
        <td>
            @Html.ActionLink("Ver detalles del gato", "Details2", new { id = item.idGato }) |
            @Html.ActionLink("Ver visitas", "IndexVisitasTrabajadorPorGato", "VisitaTrabajadorSocial", new { idGato = item.idGato, idTrabajadorSocial = item.idTrabajadorSocial, idAdoptante = item.idAdoptante }, null)
        </td>
    </tr>
}

</table>

<p>
    @Html.ActionLink("Regresar", "Index", "TrabajadorSocial")
</p>
